*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
button{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: rgb(205, 92, 92);
    box-shadow:2px 2px 10px;
    color: black;
    border: 2px solid black;    
}
button:hover{
    background-color: rgb(240, 128, 128);
}
button:active{
    background-color: rgb(240, 128, 128);

}

.container{
    margin: auto;
    width: 1024px;
}

/*Empezamo con cabezera*/ 

header{
    background-color: rgb(245, 245, 245);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo{
    font-size: 2em;
    color: rgb(250, 128, 114);
    font-weight: bold;
    font-family: "BBH Bartle";
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

header a{
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

header a:hover{
   color: rgb(205, 92, 92);
}
header a:active {
    color: rgb(205, 92, 92b);
}

#hero{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    color: white;
    background-image: url(media/c6f42df5-4ef7-4931-95a0-721c9629e783.jpeg);
    background-size: cover;
    background-position: center center;
}

#superposicion{
    position: absolute;
    background: rgba(0, 0, 0,0.5);
    height: 90vh;
    width: 100%;
    z-index: 1;
}