*{
    box-sizing: border-box;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
button{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: rgb(205, 92, 92);
    box-shadow:2px 2px 10px;
    color: black;
    border: 2px solid black;
    border-radius: 100%;
    
}
button:hover{
    background-color: rgb(240, 128, 128);
}


body{
    margin: 0;
}